<div class="card text-center bg-transparent border-0" style="height:33px">
	<script async src="https://cse.google.com/cse.js?cx=c67a1214306f44e87" nonce="@Model.Nonce"></script>
	<div class="gcse-searchbox-only"></div>
</div>